<h1 class="mt-4">Estudiantes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"></li>
</ol>
<div class="card mb-4">
  <div class="card-header">
    <h2>Lista de Estudiantes</h2>
  </div>
  <div class="card-body">
    <ag-grid-angular class="ag-theme-alpine" [rowData]="estudiantes" [columnDefs]="columnDefs"
      [components]="frameworkComponents" [pagination]="true" [paginationPageSize]="20" [domLayout]="'autoHeight'"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>

  </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="estudianteModalLabel" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <form #estudianteForm="ngForm" (ngSubmit)="guardarEstudiante(estudianteForm)">
        <div class="modal-header">
          <h5 class="modal-title" id="estudianteModalLabel">{{ modalTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" [(ngModel)]="nuevoEstudiante.nombre" name="nombre" #nombre="ngModel"
              class="form-control capitalize" placeholder="Nombre del Estudiante"
              (ngModelChange)="capitalizarPrimeraLetra($event)" required maxlength="50">
            <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
              El nombre es obligatorio.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="estudianteForm.invalid" data-bs-dismiss="modal">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal"
  (click)="nuevoEstudiante={id:0,nombre:''};editMode=false">Nuevo</button>